.Gondola {
  /* height: 60vw; */
/* 
  border-style: double;
  border-color:whitesmoke;
  border-width: 1vw; */


  /* overflow: auto; */
  align-items: center;
  
  background-image: 
  radial-gradient(rgb(255, 255, 255) 10%, transparent 10%),
  radial-gradient(rgb(255, 255, 255) 10%, transparent 10%);
  background-position: 0px 0px, 4px 4px;
  background-size: 8px 8px;
  background-color: rgb(232, 228, 214);
  
  -webkit-box-shadow: 1vw 1vw 1vw 0vw rgba(0,0,0,.6);
  -moz-box-shadow: 1vw 1vw 1vw 0vw rgba(0,0,0,.6);
  box-shadow: 1vw 1vw 1vw 0vw rgba(0,0,0,.6);
  
  margin-top: 0vw;
  margin-bottom:5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  width:fit-content;

}
.Gondola h3 {
  color:rgb(68, 114, 196);
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: .5vw;
}


