.OuterPOGContainer{    
    display: flex;
    flex-direction: row;
    margin-right: 10vw;
    margin-top: -5vh;
}
.LivingPOG{
    background-color: rgb(255, 255, 255);
}
.LivingPOGContainer{
    width: max-content;
    transition: transform 0.5s ease-in-out;
    margin: 1vw;
}
.LivingPOGContainer.alternative{
    width: max-content;
    transform: translateX(-25vw);
    margin: 1vw;
}
.LeftSidePanel {
    font-size: .5vw;
    height:fit-content;  
    border-radius: 12px; 
    margin: .5vw;
    margin-top: 4.5vw;
    margin-left: -3.5vw;
    padding: 1.5vw;          
    background-color:rgb(68, 114, 196);
    width:fit-content;
    transition: transform 0.5s ease-in-out;
}
.LeftSidePanel.alternative {
    font-size: .5vw;
    height:fit-content;  
    border-radius: 12px; 
    margin: .5vw;
    margin-top: 4.5vw;
    margin-left: -3.5vw;
    padding: 1.5vw;          
    background-color:rgb(68, 114, 196);
    width:fit-content;
    transform: translateX(-35vw);
  }
.buttonStyle1 {
    height:fit-content;
    width: fit-content;
    background-color: transparent;
    border-radius: .3vw;
    border-color: transparent;
    cursor: pointer;
    font-size: 2vw;
    transition: all 0.3s ease-in-out;
    margin: 20vw 4vw 1vw -.3vw;
  }

.buttonStyle1.alternative {
    height:fit-content;
    width: fit-content;
    background-color: transparent;
    border-radius: .3vw;
    border-color: transparent;
    cursor: pointer;
    font-size: 2vw;
    transition: all 0.3s ease-in-out;
    margin: 20vw 4vw 1vw 0vw;
  }