
/* th{

    background-color:rgb(68, 114, 196);
    font-size: 1vw;
    color: rgb(255, 255, 255);
} */

.outerContainer {
    width: fit-content;
    padding: 1.5vw;
    border-color:rgb(68, 114, 196); 
}

.title{
    margin: 1vw 1vw 0vw 0vw;
    position: relative;
    width: fit-content;
    padding-left:.1vw;
    padding-right: .1vw;
    font-size: 1.5vw;
    background-color:rgb(68, 114, 196);
    color:rgb(232, 228, 214);
    
}

td{
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);

}
tr{
    background-color: rgb(68, 114, 196);
    height: 3vw;
    width: fit-content;

}

button {
    
    margin-top: 1vw;
    /* margin-left: 10vw; */
    background-color: rgb(232, 228, 214);
    font-size: 1vw;
    color:rgb(68, 114, 196);
    /* margin-bottom: 1.5vw; */
    border-radius: .5vw;
}
.checkBox{
    /* margin-left: vw; */
    /* transform:scale(1); */
    size: 2vw;
}


